.profile-wrapper {
	padding: 30px 3vw 15px;
	box-shadow: 0 0 4px black;
	width: 1100px;
	margin: 50px auto;
}
.profile p {
	font-family: Montserrat;
	margin-bottom: 5px;
}
.profile {
	width: 100%;
	font-size: 18px;
}
.profile-info {
	margin-top: 10px;
	padding-left: 20px;
	margin-bottom: 15px;
}
.table{
	margin: 0 auto;
	width: 95%;
	border-spacing: 0 10px;
}
th, td{
	font-family: Montserrat;
	text-align: center;
	padding: 10px 0;
	border-bottom: 0.2px solid gray;
}
input[type=submit] {
	width: 200px!important;
	margin-bottom: 2px;
}
.split {
	display: flex;
	justify-content: space-between;
}
.success-message {
	text-align: center;
	width: 1100px;
	margin: 20px auto 0 auto;
	border: 2px solid green;
	padding: 15px 3vw;
}
.success-message p{
	font-family: Nexa;
	font-size: 20px;
	margin-bottom: 0px;
}